.menu{
    display: flex;
    align-items: center;
    height: 50px;
    background-color: black;
}
.menu nav ul {
    display: flex;
    color: white;
}
.menu nav ul li {
    display: none;
    font-size: 1rem;    
}

.banner .sliderTotal{
    display: flex;
    align-items: flex-end;    
    height: 100%;
    transition: all ease .4s;
}
/* overflow hidden para ocultar os outros banners que estão passando da área*/
.banner{
    overflow: hidden;
}
.sliderTotal .slide--Img picture img{
    width: 100%;
}
